.Back {
    padding: 100px;
    padding-left: 360px;
    width: 600px;
}

h1 {
    padding-left: 430px;
}

p {
    font-size: 20px;
}

h6 {
    font-size: 20px;
}

ol {
    padding-left: 400px;
    font-size: 20px;
}

h5 {
    font-size: 20px;
}